.app__container {
  color: #4d4d4d;
  margin: 0 auto;
  max-width: 550px;
  min-width: 230px;
}

.app__content {
  background: #fff;
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
  margin: 130px 0 40px;
  position: relative;
}

.app__info {
  margin: 65px auto 0;
  color: #bfbfbf;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}

.app__info p {
  line-height: 1;
}

.app__info a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

.app__info a:hover {
  text-decoration: underline;
}

.app__todos {
  border-top: 1px solid #e6e6e6;
  position: relative;
  z-index: 2;
}

.app__todos ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
