body,
html {
  margin: 0;
  padding: 0;
}

body {
  font:
    14px "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  font-weight: 300;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: 24px;
  font-weight: inherit;
  line-height: 1.4em;
  margin: 0;
  padding: 6px;
  position: relative;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #e6e6e6;
  font-style: italic;
  font-weight: 300;
}

input::-moz-placeholder {
  color: #e6e6e6;
  font-style: italic;
  font-weight: 300;
}

button {
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.app__loader {
  background-color: rgba(255, 255, 255, 0.85);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.app__loader__spinner {
  animation:
    spin 0.6s linear infinite,
    fadeIn 1s;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #767676;
  border-radius: 50%;
  margin-top: -1.5em;
  margin-left: -1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
