apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "buntime.fullname" . }}
  labels:
    {{- include "buntime.labels" . | nindent 4 }}
data:
  CONFIG_DIR: {{ .Values.buntime.configDir | quote }}
  LOG_LEVEL: {{ .Values.buntime.logLevel | quote }}
  PLUGIN_DIRS: {{ .Values.buntime.pluginDirs | quote }}
  POOL_SIZE: {{ .Values.buntime.poolSize | quote }}
  PORT: {{ .Values.buntime.port | quote }}
  WORKER_DIRS: {{ .Values.buntime.workerDirs | quote }}
