DATABASE_URL=postgresql://run2biz:run2biz@pgbouncer:6432/postgres?search_path=parameters
PGLITE_PATH=./pg_data # only for development with pg-lite (override DATABASE_URL)
VAULT_MASTER_KEY=dGVzdC12YXVsdC1tYXN0ZXIta2V5LTMyLWJ5dGVzISE= # dev only, generate with: openssl rand -base64 32
