.header__title {
  color: rgba(175, 47, 47, 0.15);
  font-size: 100px;
  font-weight: 100;
  position: absolute;
  text-align: center;
  text-rendering: optimizeLegibility;
  top: -145px;
  user-select: none;
  width: 100%;
}

.header__input {
  background: rgba(0, 0, 0, 0.003);
  border: none;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  padding: 16px 16px 16px 60px;
}
